<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ott-Sent</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
    <div class="text-green-600 text-2xl font-semibold mb-5">Link for Login has been sent successfully!</div>
        <a href="/" class="px-5 px-2 text-white bg-blue-500 rounded hover:bg-blue-700">Go Back</a>
    </div>
</body>
</html>